body {
  margin-top: 54px;
}

b {
  font-weight: bold !important;
}

.white-secondary {
  color: rgba(255, 255, 255, 0.7);
}

hr.white {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

hr.blue {
  border-top: 3px solid $primary;
  width: 60px;
}

.header {
  background: url(../../assets/img/minecraft-bg.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 84px);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coupon {
  position: absolute;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.final {
  background: $primary;
  padding-bottom: $large;
  padding-top: $large;
}

.section {
  padding-bottom: $x-large;
  padding-top: $x-large;
}

.bg-white {
  background: #fff;
}

.grey {
  background: $light-grey;
}

.primary {
  background: $primary;
  padding-bottom: $x-large;
  padding-top: $x-large;
}

.gradient {
  background: $primary-gradient;
}

.table p {
  font-size: 14px !important;
  margin-bottom: 0;
}

.alert-white {
  background: $white;
  border: 1px solid $primary;
  box-shadow: $primary-shadow;

  .close span {
    color: $primary;
  }


  .btn-close {
    padding: 12px;
    span {
      line-height: 1;
    }
  }

  p {
    color: $primary;
    font-size: 16px;
    margin: 0;
    display: inline-block;
  }
}

.markdown p {
  font-size: 16px;
}

.mb-large {
  margin-bottom: 100px;
}

.card-header {
  border-bottom: none;
}

.card-service {
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  transition: $trans;

  .card-block {
    margin: 16px;
  }

  a, 
  a:hover,
  a:active,
  a:focus {
    text-decoration: none !important;
    color: $black;
  }
}

.hov:hover,
.hov:active,
.hov:focus {
  box-shadow: 0 10px 20px rgba(0,0,0,.12);
  transform: translateY(-5px);

  button {
    background: darken($primary, 10);
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .card-service .card-block {
      margin: 24px;
  }
}

.premium {
  background: $accent;
}

.basic {
  background: $primary !important;
}

.font-normal {
  font-weight: normal;
}

.mt-medium {
  margin-top: 32px;
}

.mb-medium {
  margin-bottom: 32px;
}

.shadow-medium {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
}
