.btn-primary {
  background: $primary;
  border: 1px solid $primary;
  transition: $trans;
  &:hover,
  &:focus,
  &:active {
    background: darken($primary, 10);
    border: 1px solid darken($primary, 10);
  }
}

.btn-success {
  background: $accent;
  border: 1px solid $accent;
  transition: $trans;
  &:hover,
  &:focus,
  &:active {
    background: darken($accent, 10) !important;
    border: 1px solid darken($accent, 10) !important;
  }
}

a:hover .btn-success,
a:active .btn-success,
a:active .btn-success {
  background: darken($accent, 10) !important;
  border: 1px solid darken($accent, 10) !important;
}


.btn.white a{
  color: $white !important;
}

.btn-outline-primary {
  border: 1px solid $primary;
  color: $primary;
  transition: $trans;
  &:hover {
    background: $primary;
    border: 1px solid $primary;
    color: $white;
  }
}

.btn-outline-white {
  border: 1px solid $white;
  color: $white;
  transition: $trans;

  &:hover,
  &:focus,
  &:active {
    background: $white;
    border: 1px solid $white;
    color: $primary;
  }
}

.btn-outline-success {
  border: 1px solid $accent;
  color: $accent;
  transition: $trans;
  &:hover {
    background: $accent;
    border: 1px solid $accent;
    color: $white;
  }
}

.btn-secondary {
  background-color: $white;
  border-color: $white !important;
  color: $black;

  &:hover {
    background: darken($white, 10);
    border: 1px solid darken($white, 10) !important;
  }
}
