.btn-primary {
  background: $primary;
  border: 1px solid $primary;
  transition: $trans;
  &:hover,
  &:focus,
  &:active {
    background: darken($primary, 10);
    border: 1px solid darken($primary, 10);
  }
}

.btn-success {
  background: $accent;
  border: 1px solid $accent;
  transition: $trans;
  &:hover,
  &:focus,
  &:active {
    background: darken($accent, 10) !important;
    border: 1px solid darken($accent, 10) !important;
  }
}

a:hover .btn-success,
a:active .btn-success,
a:active .btn-success {
  background: darken($accent, 10) !important;
  border: 1px solid darken($accent, 10) !important;
}

.btn.white a {
  color: $white !important;
}

.btn-outline-primary {
  border: 1px solid $primary;
  color: $primary;
  transition: $trans;
  &:hover {
    background: $primary;
    border: 1px solid $primary;
    color: $white;
  }
}

.btn-outline-white {
  border: 1px solid $white;
  color: $white;
  transition: $trans;

  .caret {
    background: url("../../assets/img/chevron-down-white.svg") no-repeat;
    background-position: center;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    transition: $trans;
  }

  &:hover,
  &:focus,
  &:active {
    background: $white;
    border: 1px solid $white;
    color: $primary;

    .caret {
      background-image: url("../../assets/img/chevron-down-primary.svg");
    }
  }
}

@media (max-width: 768px) {
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.25;

    .caret {
      width: 1rem;
      height: 1rem;
    }
  }
}

.btn-outline-success {
  border: 1px solid $accent;
  color: $accent;
  transition: $trans;

  &:hover {
    background: $accent;
    border: 1px solid $accent;
    color: $white;
  }
}

.btn-secondary {
  background-color: $white;
  border-color: $white !important;
  color: $black;

  &:hover {
    background: darken($white, 10);
    border: 1px solid darken($white, 10) !important;
  }
}
