<h2 class="mb-medium">Get in touch</h2>

{% macro errorList(errors) %}
    {% if errors %}
        {% for error in errors %}
        <div class="form-control-feedback">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form method="post" action="" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input class="hidden" type="hidden" name="action" value="contactForm/sendMessage">
    <input type="hidden" name="redirect" value="contact/thanks?from={fromName}">
    <div class="form-group">
        <label class="contact--label h6" for="fromName">Name</label>
        <input class="form-control contact--input" id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}" placeholder="Full Name" autocomplete="on">
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
    </div>
    <div class="form-group">
        <label class="contact--label h6" for="fromEmail">Email</label>
        <input class="form-control contact--input" id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" placeholder="Email address" required autocomplete="on">
        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
    </div>
    <div class="form-group">
        <label class="contact--label h6" for="subject">Subject</label>
        <input class="form-control contact--input" id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}" placeholder="Subject line">
        {{ message is defined and message ? errorList(message.getErrors('subject')) }}
    </div>
    <div class="form-group">
        <label class="contact--label h6" for="message">Message</label>
        <textarea class="form-control contact--input" rows="5" cols="40" id="message" name="message" placeholder="Your message" required>{% if message is defined %}{{ message.message }}{% endif %}</textarea>
        {{ message is defined and message ? errorList(message.getErrors('message')) }}
    </div>

    <button type="submit" class="btn btn-primary" value="Send">Send</button>
</form>
