{% extends "_layouts/site" %}

{% block main %}

<div class="container mb-medium">
  <div class="row">
    <div class="col text-center">
      <h1 class="mt-medium mb-medium">Sponsorships</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card card-outline-danger mb-3 bg-white shadow-medium">
        <h3 class="card-header">YouTube</h3>
        <div class="card-block">
          <p class="card-text">Minecraft-related YouTube applicants must meet or exceed the following requirements:</p>
          <ul>
            <li>5,000 subscribers</li>
            <li>100,000 total views</li>
            <li>regular uploads in the past 3 months</li>
          </ul>
          <p class="card-text">
            By being sponsored, your task will be to effectively promote our services in your video and description.
            <br><br>

            As compensation, we offer a negotiable base rate, in addition to performance-based commission for every sale.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="card card-outline-primary mb-3 bg-white shadow-medium">
        <h3 class="card-header">Twitch</h3>
        <div class="card-block">
          <p class="card-text">Minecraft-related Twitch applicants must meet or exceed the following requirements:</p>
          <ul>
            <li>250 watching</li>
            <li>1,000 followers</li>
            <li>regular streaming schedule</li>
          </ul>
          <p class="card-text">
            By being sponsored, your task will be to effectively promote our services via your stream and description.
            <br><br>

            As compensation, we offer a negotiable base rate, in addition to performance-based commission for every sale.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="card card-outline-success mb-3 bg-white shadow-medium">
        <h3 class="card-header">Websites</h3>
        <div class="card-block">
          <p class="card-text">Minecraft-related website owners must meet or exceed the following requirements:</p>
          <ul>
            <li>15,000 unique visitors per month</li>
            <li>75,000 page views per month</li>
            <li>Minecraft related site or forum</li>
          </ul>
          <p class="card-text">
            Genesis Hosting helps fund websites by providing free virtual or dedicated hosting for large websites, or monetary payment for placing banners on the website.
            <br><br>

            Our community team will require Google Analytics data to verify requirements.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="final">
  <div class="container">
    <div class="row">
      <div class="col mt-md text-center">
        <h2 class="white mb-3 text-center">Contact our community team <br> to discuss your partnership</h2>
        <a href="https://bill.genesishosting.co/contact.php" class="btn btn-lg btn-secondary">Contact us</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}