{% extends "_layouts/site" %}

{% block main %}
<header class="header gradient">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center white">{{entry.title}} Minecraft Server</h1>
      </div>
    </div>
  </div>
</header>

<div class="container section">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Minecraft Features</h2>
    </div>

    {% for block in entry.features %}
      {% if block.type == "feature" %}
        <div class="col-6 col-md-4 col-lg-3 home-feature text-center mt-3">
          {% set image = block.photo.first() %}
          <img src="{{image.url}}" alt="{{image.title}}">
          <h4>{{block.featureName}}</h4>
          <p class="small">{{block.text}}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container section">
  <div class="row">
    <div class="col text-center">
      <h2>Choose your plan to get started</h2>
    </div>
  </div>
</div>

<div class="container-fluid mb-large">
  <div class="PriceBlocks-sliderContainer PriceBlocks-slider--standalone">
    <div class="PriceBlocks-slider PriceBlocks-slider--standard">
      {% for block in entry.slider %}
        {% if block.type == "budget" %}
          <div class="PriceBlock-container">
            <div class="PriceBlock">
              <div class="PriceBlock-top">
                <div class="u-flex u-flexCenter PriceBlock-price">
                  <span class="PriceBlock-dollar">$</span>
                  <span class="PriceBlock-num">{{block.price}}</span>
                  <span class="PriceBlock-time">/mo</span>
                </div>
              </div>
              <ul class="u-list u-textPrimary u-textLarge PriceBlock-list">
                <li><strong class="u-textPrimary">{{block.ram}}GB</strong> Ram</li>
                <li><strong class="u-textPrimary">{{block.slots}}</strong> Slots</li>
                <li><strong class="u-textPrimary">{{block.disk}}</strong> Disk</li>
                <li><strong class="u-textPrimary">{{block.ddos}}</strong> DDoS</li>
              </ul>
              <div class="u-flex u-flexCenter PriceBlock-btn">
                <a href="{{block.WHMCSUrl}}" class="btn btn-outline-primary" target="_blank">Order</a>
              </div>
            </div>
          </div>
        {% elseif block.type == "premium" %}
          <div class="PriceBlock-container">
            <div class="PriceBlock">
              <div class="PriceBlock-top">
                <div class="u-flex u-flexCenter PriceBlock-price">
                  <span class="PriceBlock-dollar">$</span>
                  <span class="PriceBlock-num">{{block.price}}</span>
                  <span class="PriceBlock-time">/mo</span>
                </div>
              </div>
              <ul class="u-list u-textSuccess u-textLarge PriceBlock-list">
                <li><strong class="u-textSuccess">{{block.ram}}GB</strong> Ram</li>
                <li><strong class="u-textSuccess">{{block.slots}}</strong> Slots</li>
                <li><strong class="u-textSuccess">{{block.disk}}</strong> Disk</li>
                <li><strong class="u-textSuccess">{{block.ddos}}</strong> DDoS</li>
              </ul>
              <div class="u-flex u-flexCenter PriceBlock-btn">
                <a href="{{block.WHMCSUrl}}" class="btn btn-success" target="_blank">Order</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}