{% extends "_layouts/site" %}

{% block main %}
<header class="header gradient">
	<div class="container">
		<div class="row">
			<div class="col white text-center">
				<h1>Minecraft Server Hosting</h1>
        {% for entry in craft.entries.section('homepage') %}
          <p>{{entry.minecraftDescription | typogrify}}</p>
        {% endfor %}
			</div>
		</div>
	</div>
</header>

<div class="container section">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Minecraft Features</h2>
    </div>

    {% for entry in craft.entries.section('minecraft').limit(1) %}
      {% for block in entry.features %}
        {% if block.type == "feature" %}
          <div class="col-6 col-md-4 col-lg-3 home-feature text-center mt-3">
            {% set image = block.photo.first() %}
            <img src="{{image.url}}" alt="{{image.title}}">
            <h4>{{block.featureName}}</h4>
            <p class="small">{{block.text}}</p>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<div class="section grey">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center mb-medium">Our services</h2>
      </div>
    </div>
    
    <div class="row">
    {% for entry in craft.entries.section('minecraft') %}
      <div class="col-sm-12 col-md-6 col-lg-5 mb-3 {% if loop.first %}offset-lg-1{% endif %}">
        <div class="card card-service hov">
          <a href="{{entry.url}}">
            {% if entry.premium %}
              <div class="card-header premium">
                <h3 class="card-title mt-3 text-white text-center">{{entry.title}}</h3>
              </div>
              <div class="card-block">
              {% for block in entry.minecraftDetail %}
                {% if block.type == "detail" %}
                  <ul>
                    <li>{{block.detail | typogrify}}</li>
                  </ul>
                {% endif %}
              {% endfor %}
              <hr>
              <button class="btn btn-success btn-block btn-lg mt-2 text-white">Get started</button>
            </div>
            {% else %}
              <div class="card-header basic">
                <h3 class="card-title mt-3 text-white text-center">{{entry.title}}</h3>
              </div>
              <div class="card-block">
              {% for block in entry.minecraftDetail %}
                {% if block.type == "detail" %}
                  <ul>
                    <li>{{block.detail | typogrify}}</li>
                  </ul>
                {% endif %}
              {% endfor %}
              <hr>
              <button class="btn btn-primary btn-block btn-lg mt-2 text-white">Get started</butotn>
            </div>
            {% endif %}
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}