{% extends "_layouts/site" %}

{% block main %}
<header class="header gradient">
	<div class="container">
		<div class="row">
			<div class="col white text-center">
				<h1>Dedicated Servers</h1>
				<p>Genesis Hosting offers fast and reliable dedicated servers to thoes on a budget. Our server lines allow you to get the best servers for your money, so you will never have to pay more than you should for hosting.</p>
			</div>
		</div>
	</div>
</header>

<div class="container section">
	<div class="row">
		<table class="table table-responsive table-striped table-hover">
		<thead>
			<trs>
				<th width="20%"><p>Processor</p></th>
				<th width="13%"><p>CPU Speed</p></th>
				<th width="13%"><p>Disk</p></th>
				<th width="10%"><p>RAM</p></th>
				<th width="13%"><p>Bandwidth</p></th>
				<th width="8%"><p>IPs</p></th>
				<th width="8%"><p>Location</p></th>
				<th width="13%"><p>Starting At</p></th>
				<th width="13%">Order</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="plan-name"><p class="col-md-9">Intel Xeon X3470</p></td>
				<td><p>2.93GHz</p></td>
				<td><p>500GB HDD</p></td>
				<td><p>16GB DDR3</p></td>
				<td><p>100Mbps</p></td>
				<td><p>1</p></td>
				<td><p>Dallas, TX</p></td>
				<td><p>$30/month</p></td>
				<td class="text-center">
					<button class="btn btn-primary btn-block white"><simpla-text sid="tb-1"></simpla-text></button>
				</td>
			</tr>
			<tr>
				<td class="plan-name"><p class="col-md-9">Intel Xeon x5550</p></td>
				<td><p>2.66GHz</p></td>
				<td><p>(2)146GB SAS</p></td>
				<td><p>24GB DDR3</p></td>
				<td><p>100Mbps</p></td>
				<td><p>1</p></td>
				<td><p>Dallas,TX</p></td>
				<td><p>$30/month</p></td>
				<td class="text-center">
					<button class="btn btn-primary btn-block white"><simpla-text sid="tb-2"></simpla-text></button>
				</td>
			</tr>
			<tr>
				<td class="plan-name"><p class="col-md-9">Intel Xeon X3470</p></td>
				<td><p>2.93GHz</p></td>
				<td><p>120GB SSD + 500GB HDD</p></td>
				<td><p>16GB DDR3</p></td>
				<td><p>100Mbps</p></td>
				<td><p>1</p></td>
				<td><p>Dallas, TX</p></td>
				<td><p>$35/month</p></td>
				<td class="text-center">
					<button class="btn btn-primary btn-block white"><simpla-text sid="tb-3"></simpla-text></button>
				</td>
			</tr>
			<tr>
				<td class="plan-name"><p class="col-md-9">Intel Xeon E3-1270V2</p></td>
				<td><p>3.5GHz</p></td>
				<td><p>480GB SSD + 2TB HDD</p></td>
				<td><p>32GB DDR3</p></td>
				<td><p>1Gbps</p></td>
				<td><p>1</p></td>
				<td><p>Buffalo, NY</p></td>
				<td><p>$55/month</p></td>
				<td class="text-center">
					<button class="btn btn-primary btn-block white"><simpla-text sid="tb-4"></simpla-text></button>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
{% endblock %}