{% extends "_layouts/site" %}

{% block main %}

<div class="container mb-medium">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
      <h1 class="mb-3 mt-medium">Terms of service</h1>

      {% for block in entry.text %}

        {% if block.type == "heading" %}

          <h3 class="mt-3">{{ block.heading | typogrify }}</h3>

        {% elseif block.type == "body" %}

          {{ block.body }}

        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}