{% extends "_layouts/site" %}

{% block main %}
<header class="header gradient">
	<div class="container">
		<div class="row">
			<div class="col white text-center">
				<h1>Web Hosting</h1>
        <p>Genesis Hosting offers fast and reliable web-hosting to kick start your business or server. With easy to use, 1 click install scripts, web-hosting has never been easier!</p>
			</div>
		</div>
	</div>
</header>

<div class="container section">
  <div class="row">
    <div class="col text-center">
      <h2>Coming Soon</h2>
    </div>
  </div>
</div>
{% endblock %}