<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Genesis Hosting</title>
    <meta name="author" content="Jayden Enterprises">
    <meta name="description" content="Cheap and simple hosting
  starts with Genesis">
    <meta name="keywords" content="genesis, hosting, minecraft, servers">
    <meta name="application-name" content="Genesis Hosting">

    <meta property="og:image" content="{{siteUrl}}android-chrome-512x512.png">
    <meta property="og:description" content="Cheap and simple hosting
  starts with Genesis">
    <meta property="og:title" content="Cheap and simple hosting">
    <meta name="twitter:title" content="starts with Genesis">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ siteUrl }}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ siteUrl }}favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ siteUrl }}manifest.json">
    <link rel="mask-icon" href="{{ siteUrl }}safari-pinned-tab.svg" color="#3F4BA0">
    <meta name="theme-color" content="#3F4BA0">

    <link rel="stylesheet" href="{{ siteUrl }}assets/css/main.css">
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block foot %}{% endblock %}
  
  <script src="{{ siteUrl }}assets/js/main.js" async defer></script>

  <!-- Start of Async Drift Code -->
  <script>
  !function() {
    var t;
    if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
    t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
    t.factory = function(e) {
      return function() {
        var n;
        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
      n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
    });
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('9dh6pxc8x4ca');
  </script>
  <!-- End of Async Drift Code -->
</body>
</html>
