<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}apple-touch-icon.png?v=5">
    <link rel="icon" type="image/png" href="{{ siteUrl }}favicon-32x32.png?v=5" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ siteUrl }}favicon-16x16.png?v=5" sizes="16x16">
    <link rel="manifest" href="{{ siteUrl }}manifest.json?v=5">
    <link rel="mask-icon" href="{{ siteUrl }}safari-pinned-tab.svg?v=5" color="#007ee5">
    <meta name="theme-color" content="#007ee5">

    <link rel="stylesheet" href="{{ siteUrl }}assets/css/main.css">

    {% hook 'seomaticRender' %}
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block foot %}{% endblock %}
  
  <script src="{{ siteUrl }}assets/js/main.js" async defer></script>

  <!-- PureChat -->
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '1b398c85-371e-488f-a0a6-7935ac2358b1', f: true }); done = true; } }; })();</script>

</body>
</html>
