<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Genesis Hosting</title>
    <meta name="author" content="Jayden Enterprises">
    <meta name="description" content="Cheap and simple hosting
  starts with Genesis">
    <meta name="keywords" content="genesis, hosting, minecraft, servers">
    <meta name="application-name" content="Genesis Hosting">

    <meta property="og:image" content="{{siteUrl}}android-chrome-512x512.png">
    <meta property="og:description" content="Cheap and simple hosting
  starts with Genesis">
    <meta property="og:title" content="Cheap and simple hosting">
    <meta name="twitter:title" content="starts with Genesis">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ siteUrl }}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ siteUrl }}favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ siteUrl }}manifest.json">
    <link rel="mask-icon" href="{{ siteUrl }}safari-pinned-tab.svg" color="#3F4BA0">
    <meta name="theme-color" content="#3F4BA0">

    <link rel="stylesheet" href="{{ siteUrl }}assets/css/main.css">
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block foot %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.pkgd.min.js"></script>
  <script src="{{ siteUrl }}assets/js/main.js" async></script>
</body>
</html>
