{% extends "_layouts/site" %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-12 mt-medium">
    <hr class="mt-0">
    <p class="lead mb-0">{{entry.contactBody | typogrify}}</p>
    <hr class="mb-large">
    </div>
    <div class="col-12 col-md-5 mb-large">
    <h2 class="mb-medium">Contact</h2>
    {% for block in entry.contactInfo %}
        {% if block.type == "email" %}
            <h6>Email</h6>
            <a href="mailto:{{block.emailAddress}}" class="contact--link"><p>{{block.emailAddress}}</p></a>

        {% elseif block.type == "phone" %}
            <h6>Telephone</h6>
            <a href="tel:{{block.phoneNumber | replace(' ', '')}}" class="contact--link"><p>{{block.phoneNumber}}</p></a>

        {% elseif block.type == "address" %}
            <h6>Address</h6>
            <a href="https://www.google.com.au/maps/dir/''/220+Wattletree+Rd,+Malvern+VIC+3144/" class="contact--link" target="_blank"><p>{{block.address | nl2br | raw}}</p></a>

        {% elseif block.type == "social" %}
            <h6>Social</h6>
            <a href="https://www.instagram.com/{{block.instagramUrl}}" class="contact--link" target="_blank"><p class="mb-2">Instagram</p></a><br>
            <a href="https://www.facebook.com/{{block.facebookUrl}}/" class="contact--link" target="_blank"><p>Facebook</p></a>

        {% endif %}
    {% endfor %}
    </div>
    <div class="col-12 col-md-7 mb-large">
       {% include "_includes/contact" %} 
    </div>
  </div>
</div>

 {% endblock %}
