{% extends "_layouts/site" %}

{% block main %}

<!--<div class="container coupon text-center">
    <div class="row">
      <div class="col">
        <div class="alert alert-success alert-white alert-dismissible fade show mt-3" role="alert">
          <button type="button" class="btn-close close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <span class="text-primary">{{entry.coupon | typogrify}}</span>
        </div>
      </div>
    </div>
  </div>-->

<header class="header white text-center">
  <div class="container headline">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="mb-3">
          {{entry.tagline | typogrify}}
        </div>
        <a class="btn btn-outline-white mt-3 btn-lg mr-2" href="#more">Learn more <divc class="caret"></divc></a>
        <a class="btn btn-outline-white mt-3 btn-lg ml-2" href="#plans">Minecraft Plans</a>
      </div>
    </div>
  </div>
</header>

<div class="section" id="more">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-medium">
        <h2 class="mt-medium">Minecraft Server Hosting</h2>
      </div>

      {% for entry in craft.entries.section('homepage') %}
        {% for block in entry.features %}
          {% if block.type == "feature" %}
            <div class="col-12 col-sm-6 col-md-4 home-feature text-center mt-medium">
              {# {% set image = block.photo.first() %}
              <img src="{{image.url}}" alt="{{image.title}}" width="72px" class="mb-3"> #}
              <p class="mb-2">{{block.featureName}}</p>
              {# <p>{{block.text}}</p> #}
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="container section" id="plans">
  <div class="row">
    <div class="col text-center">
      <h2>Choose your Minecraft plan to get started</h2>
    </div>
  </div>
</div>

{% if entry.pricing | length %}
  <div class="container-fluid mb-large">
    <div class="PriceBlocks-sliderContainer PriceBlocks-slider--standalone">
      <div class="PriceBlocks-slider PriceBlocks-slider--standard">
        {% for row in entry.pricing %}
          <div class="PriceBlock-container">
            <div class="PriceBlock">
              <div class="PriceBlock-top">
                <div class="u-flex u-flexCenter PriceBlock-price">
                  <span class="PriceBlock-dollar">$</span>
                  <span class="PriceBlock-num">{{row.price}}</span>
                  <span class="PriceBlock-time">/mo</span>
                </div>
              </div>
              <ul class="u-list u-textPrimary u-textLarge PriceBlock-list">
                <li><strong class="u-textPrimary">{{row.ram}}</strong> Ram</li>
                <li><strong class="u-textPrimary">{{row.slots}}</strong> Slots</li>
                <li><strong class="u-textPrimary">{{row.disk}}</strong> Disk</li>
                <li><strong class="u-textPrimary">{{row.ddos}}</strong> DDoS</li>
              </ul>
              <div class="u-flex u-flexCenter PriceBlock-btn">
                <a href="{{row.url}}" class="btn btn-outline-primary" target="_blank">Order</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{#<div class="section grey">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Our stats</h2>
        <hr>
      </div>
    </div>
    <div class="row text-center stats">
    {% for block in entry.stats %}
      {% if block.type == "customer" %}
        <div class="col">
          <h3>{{block.number}}</h3>
          <p>{{block.customerTitle}}</p>
        </div>
      {% elseif block.type == "services" %}
      <div class="col">
        <h3>{{block.number}}</h3>
        <p>{{block.servicesTitle}}</p>
      </div>
      {% elseif block.type == "ram" %}
      <div class="col">
        <h3>{{block.number}}</h3>
        <p>{{block.ramTitle}}</p>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>#}

{% include "_includes/final" %}
{% endblock %}