html {
  color: $black;
}

body {
  font-family: $font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

::selection {
  background: $primary;
}

.title {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: $base;
}

.lead {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -.003em;
}

p {
  font-size: 18px;
}

.white {
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 600;
  line-height: 1.1;
}

h1,
h2 {
  font-weight: 300;
}

@media (max-width: 767px) {
  .title {
    font-size: 42px;
    text-align: center;
  }

  .hero .lead {
    text-align: center;
  }

  .p--big {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
  }

}

@media (max-width: 360px) {
  .title {
    font-size: 32px;
    text-align: center;
  }

  .lead {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 44px;
  }
}

.form-control,
.form-control:focus {
  color: $black;
}

b,
strong {
  font-weight: bold;
}