{% extends "_layouts/site" %}

{% set blogEntries = craft.entries({
    section: 'blog',
    order: 'postDate desc'
}) %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      {# Loop through this page's blog entries #}
      {% for blogEntry in blogEntries %}

        {% set url = blogEntry.type.handle == 'link' ? blogEntry.linkUrl : blogEntry.url %}

        <article class="blog-entry">
          {% set asset = blogEntry.featureImage.first() %}
          {% if asset | length %}
            <figure>
              <a href="{{ url }}">
                  <img src="{{ asset.url }}" alt="{{ asset.title }}" width="280" height="204">
              </a>
            </figure>
          {% endif %}

          <div class="summary-wrap">
            <h3><a href="{{ url }}">{{ blogEntry.title }}</a></h3>

            {{ blogEntry.body|length > 250 ? blogEntry.body|slice(0, 250) ~ '...' : blogEntry.body  }}

            <p>
              {% if blogEntry.type == 'link' %}
                <a href="{{ url }}" class="more-link">Check it out</a>
              {% else %}
                <span class="author">{{ blogEntry.author }}</span>
                <span class="separator">|</span>
                <a href="{{ url }}" class="more-link">Read More</a>
              {% endif %}
            </p>
          </div>
        </article>
      {% endfor %}
    </div>
{% endblock %}
